<div *ngIf="user">
<div class="container">
	<div class="row">
	
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2 class="page-header">{{user.name}}</h2>
                    <p><strong>About: </strong> Web Designer / UI. </p>
                    <p><strong>username: </strong> {{user.username}}</p>
                    <p><strong>email: </strong> {{ user.email }}</p>
                </div>             
                
            </div>            
           
            </div>

	</div>
</div>