 <!-- Page Content -->
 <div class="container">
    
          <!-- Heading Row -->
          <div style="text-align:center" class="jumbotron">
              <h1>Employment Agency Management System</h1>
              <p class="lead"></p>
              <p><a class="btn btn-lg btn-success"  [routerLink]="['/register']" role="button">Live Demo</a></p>
          </div>
    
          <!-- Call to Action Well -->
          <div class="card text-white bg-secondary my-4 text-center">
            <div class="card-body">
              <p class="m-0" >Our own personal opertions butler.</p>
            </div>
          </div>
    
          <!-- Content Row -->
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h2 class="card-title">User Management</h2>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">More Info</a>
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h2 class="card-title">Documentation</h2>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">More Info</a>
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h2 class="card-title">Mobile App</h2>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">More Info</a>
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
    
          </div>
          <!-- /.row -->
          <!-- Features Section -->
          <div class="row">
            <div class="col-lg-6">
              <h2>Modern Business Features</h2>
              <p>The Modern Business template by Start Bootstrap includes:</p>
              <ul>
                <li>
                  <strong>Bootstrap v4</strong>
                </li>
                <li>jQuery</li>
                <li>Font Awesome</li>
                <li>Working contact form with validation</li>
                <li>Unstyled page elements for easy customization</li>
              </ul>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-lg-6">
              <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
            </div>
          </div>
          <!-- /.row -->
    
          <hr>
    
          <!-- Call to Action Section -->
          <div class="row mb-4">
            <div class="col-md-8">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
            </div>
            <div class="col-md-4">
              <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
            </div>
          </div>
    
        </div>
        <!-- /.container -->
   
        <!-- /.container -->
    